# =========================================================================
# CONTRATO OPENAPI 3.0 - ECOMARKET API
# =========================================================================
# Mejoras propuestas por el estudiante (Arquitecto de su Aprendizaje):
# 1. Paginación en GET /api/productos (Query params: page y limit) para
#    prevenir sobrecarga de datos en red y cliente.
# 2. Restricciones de longitud (minLength/maxLength) en nombre y descripción
#    del producto para evitar envíos vacíos o desbordamientos en BD/UI.
# =========================================================================

openapi: 3.0.3
info:
  title: EcoMarket API
  description: API para conectar productores locales con consumidores de alimentos orgánicos.
  version: 1.0.0
servers:
  - url: https://api.ecomarket.com/api
    description: Servidor de Producción
  - url: http://localhost:3000/api
    description: Servidor de Desarrollo Local (Mock)

paths:
  /productos:
    get:
      summary: Listar productos disponibles
      description: Obtiene el catálogo de productos con opciones de filtrado y paginación.
      parameters:
        - name: categoria
          in: query
          required: false
          description: Filtrar por categoría de producto
          schema:
            type: string
            enum: [frutas, verduras, lacteos, miel, conservas]
        - name: productor_id
          in: query
          required: false
          description: Filtrar por ID del productor local
          schema:
            type: integer
        # Mejora 1: Parámetros de paginación agregados por el estudiante
        - name: page
          in: query
          required: false
          description: Número de página para la paginación (por defecto es 1)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: Cantidad de productos por página (por defecto es 10, máximo 50)
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Catálogo de productos recuperado con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 45
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 10
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Producto'
        '400':
          $ref: '#/components/responses/400BadRequest'
    
    post:
      summary: Registrar un nuevo producto
      description: Permite a un productor autenticado añadir un nuevo producto al catálogo.
      security:
        - BearerAuth: []
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Token de autenticación Bearer (ej. Bearer eyJhbGci...)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductoInput'
      responses:
        '201':
          description: Producto creado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'

  /productos/{id}:
    get:
      summary: Detalle de un producto específico
      description: Recupera toda la información de un producto por su identificador único.
      parameters:
        - name: id
          in: path
          required: true
          description: ID numérico del producto
          schema:
            type: integer
      responses:
        '200':
          description: Producto encontrado y recuperado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '404':
          $ref: '#/components/responses/404NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Producto:
      type: object
      required:
        - id
        - nombre
        - precio
        - categoria
        - productor_id
        - disponible
        - creado_en
      properties:
        id:
          type: integer
          example: 101
        nombre:
          type: string
          minLength: 3
          maxLength: 50
          description: Nombre del producto (Mejora 2: límites de caracteres agregados)
          example: Miel de Abeja Orgánica
        descripcion:
          type: string
          maxLength: 500
          description: Detalle del producto (Mejora 2: límites de caracteres agregados)
          example: Miel pura recolectada de flores silvestres en Nayarit, sin azúcares añadidos.
        precio:
          type: number
          format: float
          description: Precio unitario. Máximo 2 decimales.
          example: 120.50
        categoria:
          type: string
          enum: [frutas, verduras, lacteos, miel, conservas]
          example: miel
        productor_id:
          type: integer
          example: 42
        disponible:
          type: boolean
          example: true
        creado_en:
          type: string
          format: date-time
          example: 2026-05-21T07:00:00Z

    ProductoInput:
      type: object
      required:
        - nombre
        - precio
        - categoria
        - productor_id
        - disponible
      properties:
        nombre:
          type: string
          minLength: 3
          maxLength: 50
          example: Miel de Abeja Orgánica
        descripcion:
          type: string
          maxLength: 500
          example: Miel pura recolectada de flores silvestres en Nayarit, sin azúcares añadidos.
        precio:
          type: number
          format: float
          example: 120.50
        categoria:
          type: string
          enum: [frutas, verduras, lacteos, miel, conservas]
          example: miel
        productor_id:
          type: integer
          example: 42
        disponible:
          type: boolean
          example: true

  responses:
    400BadRequest:
      description: Petición inválida (por ejemplo, JSON mal formado o fallas de validación)
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: BAD_REQUEST
              mensaje:
                type: string
                example: El precio debe ser un número con un máximo de 2 decimales y no puede ser negativo.
    
    401Unauthorized:
      description: No autenticado o sesión expirada
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: UNAUTHORIZED
              mensaje:
                type: string
                example: Token de autenticación inválido o sesión expirada.

    404NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: NOT_FOUND
              mensaje:
                type: string
                example: El producto con el ID especificado no existe en nuestro catálogo.
