# =========================================================================
# CONTRATO OPENAPI 3.0 - ECOMARKET API (SEMANA 2)
# =========================================================================
# Actualizaciones de la Semana 2:
# 1. Rutas CRUD completas para Productos (PUT, PATCH, DELETE).
# 2. Rutas de Productores y recursos anidados (/productores/{id}/productos).
# 3. Rutas de Pedidos para operaciones CRUD.
# 4. Parámetro de búsqueda "nombre" en GET /productos.
# =========================================================================

openapi: 3.0.3
info:
  title: EcoMarket API
  description: API para conectar productores locales con consumidores de alimentos orgánicos y gestionar pedidos.
  version: 2.0.0
servers:
  - url: https://api.ecomarket.com/api
    description: Servidor de Producción
  - url: http://localhost:3000/api
    description: Servidor de Desarrollo Local (Mock)

paths:
  /productos:
    get:
      summary: Listar o buscar productos
      description: Obtiene el catálogo de productos con filtros de categoría, nombre, productor, y paginación.
      parameters:
        - name: categoria
          in: query
          required: false
          description: Filtrar por categoría
          schema:
            type: string
            enum: [frutas, verduras, lacteos, miel, conservas]
        - name: nombre
          in: query
          required: false
          description: Buscar productos por coincidencia en el nombre (Query param de búsqueda)
          schema:
            type: string
        - name: productor_id
          in: query
          required: false
          description: Filtrar por ID del productor
          schema:
            type: integer
        - name: page
          in: query
          required: false
          description: Número de página
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          description: Cantidad por página
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Catálogo obtenido exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    example: 45
                  page:
                    type: integer
                    example: 1
                  limit:
                    type: integer
                    example: 10
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Producto'
        '400':
          $ref: '#/components/responses/400BadRequest'

    post:
      summary: Crear un nuevo producto
      description: Permite a un productor autenticado crear un producto.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductoInput'
      responses:
        '201':
          description: Producto creado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '409':
          $ref: '#/components/responses/409Conflict'

  /productos/{id}:
    get:
      summary: Detalle de un producto específico
      description: Recupera la información de un producto por su ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID del producto
          schema:
            type: integer
      responses:
        '200':
          description: Producto encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '404':
          $ref: '#/components/responses/404NotFound'

    put:
      summary: Reemplazo total de un producto (PUT)
      description: Actualiza todos los campos de un producto específico. Si se omite un campo, este se eliminará o tomará valores por defecto.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID del producto a reemplazar
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductoInput'
      responses:
        '200':
          description: Producto reemplazado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'

    patch:
      summary: Modificación parcial de un producto (PATCH)
      description: Modifica únicamente los campos enviados en el body de un producto específico.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID del producto a modificar
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductoUpdateInput'
      responses:
        '200':
          description: Producto modificado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'

    delete:
      summary: Eliminar un producto (DELETE)
      description: Elimina un producto específico del catálogo.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID del producto a eliminar
          schema:
            type: integer
      responses:
        '204':
          description: Producto eliminado exitosamente (Sin contenido de respuesta)
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'

  /productores:
    get:
      summary: Listar productores
      description: Obtiene la lista de todos los productores locales registrados.
      responses:
        '200':
          description: Lista de productores obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Productor'

    post:
      summary: Registrar productor
      description: Crea un nuevo perfil de productor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductorInput'
      responses:
        '201':
          description: Productor registrado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Productor'
        '400':
          $ref: '#/components/responses/400BadRequest'

  /productores/{id}:
    get:
      summary: Obtener perfil de productor
      description: Obtiene los detalles de un productor por su ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Productor encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Productor'
        '404':
          $ref: '#/components/responses/404NotFound'

  /productores/{id}/productos:
    get:
      summary: Productos de un productor (Recurso anidado)
      description: Obtiene todos los productos que pertenecen al productor especificado por su ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID del productor
          schema:
            type: integer
      responses:
        '200':
          description: Lista de productos del productor obtenida exitosamente
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'
        '404':
          $ref: '#/components/responses/404NotFound'

  /pedidos:
    get:
      summary: Listar pedidos
      description: Obtiene el listado de pedidos registrados.
      responses:
        '200':
          description: Lista de pedidos obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pedido'

    post:
      summary: Crear un pedido
      description: Registra una nueva compra en el sistema.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PedidoInput'
      responses:
        '201':
          description: Pedido registrado con éxito
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pedido'
        '400':
          $ref: '#/components/responses/400BadRequest'

  /pedidos/{id}:
    get:
      summary: Detalle de pedido
      description: Obtiene la información detallada de un pedido por su ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Pedido encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pedido'
        '404':
          $ref: '#/components/responses/404NotFound'

    put:
      summary: Actualizar estado de pedido
      description: Permite actualizar por completo un pedido.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PedidoInput'
      responses:
        '200':
          description: Pedido actualizado exitosamente
        '404':
          $ref: '#/components/responses/404NotFound'

    delete:
      summary: Cancelar o eliminar pedido
      description: Cancela o borra un pedido del sistema.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Pedido cancelado exitosamente (Sin contenido)
        '404':
          $ref: '#/components/responses/404NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Producto:
      type: object
      required:
        - id
        - nombre
        - precio
        - categoria
        - disponible
      properties:
        id:
          type: integer
          example: 42
        nombre:
          type: string
          minLength: 3
          maxLength: 50
          example: Miel orgánica
        descripcion:
          type: string
          maxLength: 500
          example: Miel pura de abeja.
        precio:
          type: number
          format: float
          example: 150.00
        categoria:
          type: string
          enum: [frutas, verduras, lacteos, miel, conservas]
          example: miel
        productor:
          type: object
          required:
            - id
            - nombre
          properties:
            id:
              type: integer
              example: 7
            nombre:
              type: string
              example: Apiarios del Valle
        disponible:
          type: boolean
          example: true
        creado_en:
          type: string
          format: date-time
          example: 2024-01-15T10:30:00Z

    ProductoInput:
      type: object
      required:
        - nombre
        - precio
        - categoria
        - disponible
      properties:
        nombre:
          type: string
          minLength: 3
          maxLength: 50
          example: Miel orgánica
        descripcion:
          type: string
          maxLength: 500
          example: Miel pura de abeja.
        precio:
          type: number
          format: float
          example: 150.0
        categoria:
          type: string
          enum: [frutas, verduras, lacteos, miel, conservas]
          example: miel
        productor:
          type: object
          properties:
            id:
              type: integer
            nombre:
              type: string
          example:
            id: 7
            nombre: Apiarios del Valle
        disponible:
          type: boolean
          example: true

    ProductoUpdateInput:
      type: object
      properties:
        nombre:
          type: string
          minLength: 3
          maxLength: 50
        descripcion:
          type: string
          maxLength: 500
        precio:
          type: number
          format: float
        categoria:
          type: string
          enum: [frutas, verduras, lacteos, miel, conservas]
        disponible:
          type: boolean

    Productor:
      type: object
      required:
        - id
        - nombre
        - region
      properties:
        id:
          type: integer
          example: 7
        nombre:
          type: string
          example: Apiarios del Valle
        region:
          type: string
          example: Tepic, Nayarit

    ProductorInput:
      type: object
      required:
        - nombre
        - region
      properties:
        nombre:
          type: string
          example: Apiarios del Valle
        region:
          type: string
          example: Tepic, Nayarit

    Pedido:
      type: object
      required:
        - id
        - cliente_nombre
        - productos
        - total
        - estado
      properties:
        id:
          type: integer
          example: 301
        cliente_nombre:
          type: string
          example: Juan Perez
        productos:
          type: array
          items:
            type: object
            required:
              - producto_id
              - cantidad
            properties:
              producto_id:
                type: integer
                example: 42
              cantidad:
                type: integer
                example: 2
        total:
          type: number
          format: float
          example: 300.00
        estado:
          type: string
          enum: [pendiente, completado, cancelado]
          example: pendiente

    PedidoInput:
      type: object
      required:
        - cliente_nombre
        - productos
      properties:
        cliente_nombre:
          type: string
          example: Juan Perez
        productos:
          type: array
          items:
            type: object
            required:
              - producto_id
              - cantidad
            properties:
              producto_id:
                type: integer
              cantidad:
                type: integer
            example:
              producto_id: 42
              cantidad: 2

  responses:
    400BadRequest:
      description: Petición inválida
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: BAD_REQUEST
              mensaje:
                type: string
                example: Los datos de la petición son incorrectos o incompletos.

    401Unauthorized:
      description: Autenticación requerida o inválida
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: UNAUTHORIZED
              mensaje:
                type: string
                example: Sesión no iniciada o expirada.

    404NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: NOT_FOUND
              mensaje:
                type: string
                example: El recurso con el identificador indicado no existe.

    409Conflict:
      description: Conflicto en el servidor (ej. producto o ID duplicado)
      content:
        application/json:
          schema:
            type: object
            properties:
              codigo:
                type: string
                example: CONFLICT
              mensaje:
                type: string
                example: Ya existe un registro con los mismos identificadores o datos únicos.
